@import "../../default/variables.scss";

.form {
  width: 60%;
  margin: 0 auto;
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
}

.input-field {
  width: 80%;
  input[type=text], input[type=text]:visited, input[type=text]:hover, input[type=email], input[type=email]:visited, input[type=email]:hover, input[type=password], input[type=password]:visited, input[type=password]:hover {
    border-bottom: 1px solid $pink !important;
    box-shadow: none !important;
    width: 100%;
  }
  input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, input[type=email]:focus {
    border-bottom: 2px solid $pink !important;
  }
}