@import "../../default/variables.scss";

.block {
  &--cart {
    flex: 1 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: column nowrap;

    &-book {
      flex: 1 0 auto;
      width: 100%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-flow: row nowrap;
      padding: 20px;

      &-content {
        flex: 1 0 auto;
        display: flex;
        align-items: flex-start;
        margin-left: 30px;
        justify-content: center;
        flex-flow: column nowrap;
      }

      &-title {
        font-size: 24px;
      }

      &-price {
        font-size: 20px;
        color: $pink;
      }

      img {
        height: 100%;
      }
    }

    &-total {
      text-align: center;
      border-top: 1px solid $pink;
      width: 50%;
      font-size: 48px;
      margin: 20px auto;
      display: flex;
      align-items: center;
      flex-flow: column nowrap;
      justify-content: center;

      &-payload {
        outline: 0;
      }
    }
  }
}