@import "../../default/variables.scss";

.block {
  &--book {
    width: 100%;
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: column nowrap;

    &-main {
      width: 90%;
      margin: 0 auto;
      flex: 1 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-flow: row nowrap;
    }

    &-img {
      width: 30%;
      flex: 1 0 auto;

      img {
        height: 150px;
      }
    }

    &-content {
      width: 70%;
      flex: 1 0 auto;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-flow: column nowrap;
    }

    &-title {
      font-size: 24px;
    }

    &-price {
      font-size: 20px;
      color: $pink;
    }

    &-author {
      font-size: 20px;
    }

    &-categories {
      font-size: 20px;
    }

    &-download {
      margin: 10px 0;
      padding: 10px;
      border: 1px solid $pink;
      outline: none;
      background-color: transparent;
    }
    &-download:focus,&-download:active {
      outline: none;
      background-color: transparent;

    }

    &-description {
      width: 80%;
      margin-top: 20px;
    }
  }
}