.block {
  &--not-found {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;

    h1 {
      font-size: 180px;
      margin: 40px auto 50px;
      line-height: 180px;
    }
  }
}