.block {
  &--admin {
    .form {
      width: 100%;
      padding: 10px;

      textarea {
        height: 150px;
        padding: 5px;
        resize: none;
      }

      span {
        margin-right: 20px;
      }

      .btn {
        margin-top: 20px;
      }
    }
  }
}