@import "../../default/variables.scss";

.block {
  &--shelves {
    flex: 1 0 auto;
    display: flex;
    align-items: start;
    justify-content: flex-start;
    flex-flow: row wrap;
    padding: 20px;

    &-shelve {
      width: 20%;
      margin: 15px 2%;
      border: 1px solid $pink;
      text-align: left;
      padding: 10px;
    }
  }
}