@import "../../default/variables.scss";

.block {
  &--account {

    h1 {
      text-align: center;
    }

    &-books {
      width: 100%;
      flex: 1 0 auto;
      height: auto;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-flow: row wrap;
    }

    &-book {
      flex: 1 0 auto;
      width: 150px;
      cursor: pointer;
      height: 250px;
      margin: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: row nowrap;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;

      img {
        height: 250px;
        width: 150px;
      }

      &:hover {
        box-shadow: 0 0 7px 2px $pink;

        .block--shelve-book-hover {
          opacity: 1;
        }

      }

      &-hover {
        opacity: 0;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column nowrap;
        transition: all 0.5s linear;
        z-index: 4;
        width: 80%;
        height: 50%;
        border: 1px solid $pink;
        background-color: $white;

        span {
          font-size: 26px;
          width: 100%;
        }

        a {
          color: $pink;
        }
      }
    }
  }
}