@import "../../default/variables.scss";

.block {
  &--search {
    width: 100%;

    h1 {
      text-align: center;
    }

    &-form {
      width: 40%;
      margin: 10px auto;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column nowrap;
    }

    &-books {
      width: 100%;
      flex: 1 0 auto;
      height: auto;
      display: flex;
      align-items: flex-start;
      justify-content: space-around;
      flex-flow: row wrap;
    }

    &-book {
      //flex: 1 0 auto;
      width: 150px;
      cursor: pointer;
      height: 250px;
      margin: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: row nowrap;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;

      &:hover {
        box-shadow: 0 0 7px 2px $pink;

        .block--search-book-hover {
          opacity: 1;
        }

      }

      &-hover {
        opacity: 0;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column nowrap;
        transition: all 0.5s linear;
        z-index: 4;
        width: 80%;
        height: 80%;
        border: 1px solid $pink;
        background-color: $white;

        span {
          font-size: 26px;
          width: 100%;
        }

        a {
          color: $pink;
        }
      }
    }
  }
}

