@import "../../default/variables.scss";

.block {
  &--home {
    flex: 1 0 auto;

    &-parallax {
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 50vh;
      min-height: 664px;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
      background-image: url('images/books-shelve.jpeg');

      h1 {
        color: white;
        margin: 0 auto;
      }

      p {
        font-size: 24px;
        color: white;
      }
    }

    &-steps {
      width: 100%;
      padding: 0 10%;
      margin: 40px auto 0;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-flow: column nowrap;

      h2 {
        margin: 50px auto;
      }

      a {
        text-align: center;
        color: $pink;
        font-size: 48px;
        padding: 10px 20px;
        border: 1px solid $pink;
        margin: 50px auto 20px;
        background-color: $white;
        transition: all 0.2s linear;

        &:hover {
          background-color: $black;
          border: 1px solid $black;
        }
      }
    }

    &-step {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-flow: row nowrap;
      width: 100%;

      img {
        height: 100%;
        width: 40%;
      }

      &-content {
        width: 40%;

        h3 {
          font-size: 24px;
        }
      }
    }

    &-conclusion {
      margin: 80px auto;
      width: 80%;
      text-align: center;

      a {
        color: $pink;
      }
    }
  }
}