@import "../../default/variables.scss";

header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  height: 66px;
  max-height: 66px;
  flex: 1 0 auto;

  .nav {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;

    &-item {
      height: 100%;
      text-transform: uppercase;

      a {
        box-shadow: none;
      }

      ul {
        li {
          a {
            color: $pink;
          }
        }
      }
      img {
        height: 100%;
      }
    }
  }
}