@import "../../default/variables.scss";

.block {
  &--report {
    &-send_block {
      width: 100%;
      display: flex;
      align-items: center;
      flex-flow: row nowrap;
      justify-content: space-around;
    }
    &-send {
      margin: 20px auto;
    }

    &-result {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-flow: column nowrap;
      width: 100%;

      &-entry {
        width: 100%;
        margin: 10px 0;
      }

      &-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-flow: row nowrap;
        width: 100%;
        border: 1px solid $pink;
      }

      &-cell {
        width: 49%;
      }
    }
  }
}