@import "../../default/variables.scss";

.block {
  &--footer {
    flex: 1 0 auto;
    margin-top: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    height: 106px;
    max-height: 106px;
    background-color: $pink;
    color: $white;

    &-description {
      width: 100%;
      height: auto;
      text-align: center;
      padding: 10px;
      border-top: 1px solid $white;
    }

    .nav {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
      width: 100%;
      box-shadow: none;

      &-item {
        height: 100%;
        width: auto;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: row nowrap;
      }
    }
  }
}